<div class="container">
  <h1>Listes des Articles</h1>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-stripped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Prénom</th>
          <th>Nom</th>

        </tr>
        </thead>
        <tbody *ngFor="let artist of artists">
        <tr>
          <td>{{artist.id}}</td>
          <td>{{artist.firstname}}</td>
          <td><a [routerLink]="['/artist', artist.id]">{{artist.lastname}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
